  <krona collapse="true" key="false">
   <attributes magnitude="count">
    <data enable="phymmbl.krona.html.files/enable.js">members</data>
    <attribute>magnitude</attribute>
    <attribute display="Count" dataAll="members">count</attribute>
    <attribute display="Unassigned" dataNode="members">unassigned</attribute>
    <attribute display="Rank" mono="true">rank</attribute>
    <attribute display="Avg. confidence">score</attribute>
   </attributes>
   <datasets>
    <dataset>results.03.phymmBL_usedReads_MH0072_081223_fasta_000_fasta</dataset>
   </datasets>
   <color attribute="score" hueStart="0" hueEnd="120" valueStart="0.413" valueEnd="0.932367571822115" default="false" ></color>
{{ nodes }}
  </krona>
