  <krona collapse="true" key="false">
   <attributes magnitude="count">
    <data>members</data>
    <attribute>magnitude</attribute>
    <attribute display="Count" dataAll="members">count</attribute>
    <attribute display="Unassigned" dataNode="members">unassigned</attribute>
    <attribute display="Rank" mono="true">rank</attribute>
    <attribute display="Avg. confidence">score</attribute>
   </attributes>
   <datasets>
    <dataset>sunburst dataset</dataset>
   </datasets>
   <color attribute="score" hueStart="0" hueEnd="120" valueStart="0.413" valueEnd="0.932367571822115" default="false" ></color>
{{ nodes }}
  </krona>
